#conseil-detail{

    .title{
        color: #2E3038 !important;
        font-size: 2.6em;
        line-height: 45px;
    }

    .text{
        font-size:17px;
        font-family: 'Muli', sans-serif;
    }
    
    #banner{
        height:450px;
       
        .subtitle{
            overflow: visible;
            font-size:2.6rem;
            white-space: nowrap;
        }

        #resume{
            background:#F2F2F2;
            padding:30px 15px 30px 15px;

            .content{
                background:white;
                margin-left:0px;
                margin-right:0px;
                font-size:1rem;
            }

            .line{
                border-bottom:1px dashed #F2F2F2;
                padding:10px 10px;
            }
        }
    }

    #description,#avantages{
        padding-top:100px;

        #list{
            font-size:1.4rem;
            font-weight:bold;

            .number{
                color:#d5d6d7;
            }

            .icon{
                color:#7dc84c;
            }

            .content{
                font-family:'Muli extra bold', sans-serif;
            }
        }
    }

    #objectif{
        padding-top:100px;
        padding-bottom:100px;   

        @media(max-width:767px){
            padding-top:0px;
            padding-bottom:20px;
        }
    }

    #solution{
        .square{
            padding:100px;

            @media(max-width:767px){
                padding:30px;
            }

            ul {
                list-style-type: none;
                padding-left: 1em;
                
                li:before {
                    content: "–";
                    position: absolute;
                    margin-left: -0.5em;
                    font-size:4rem;
                    font-weight:bold;
                    font-family:'Muli bold';
                    line-height:18px;
                    max-width:18px;
                    overflow:hidden;
                }

                li{
                    padding-left:1.1em;
                    margin-bottom:0.25em;
                }
            }
        }

        .owl-dot.active{
            color:#249fd5;
            background-color:#249fd5;
        }

        .owl-dot{
            color:#cfcfcf;
            background-color:#cfcfcf;
            height:10px;
            width:10px;
            border-radius:10px;
            margin-right:5px;
        }
    }

    #services{
        #list{
            font-size:1.1rem;
            font-weight:bold;

            .number{
                color:#a8adbd;
                font-size:1.4rem;
                font-family:"Muli bold";
            }

            .content{
                margin-top:3px;
            }
            
            &.list-left{
                background:#949AAF;
                color:white;
            }
            &.list-right{
                background:#f7f7f7;
                color:#a8adbd;
            }
        }
    }

    #timeline,#timeline-mobile{
        .timeline-elt{
            .round{
                display:inline-block;
                width:16px;
                height:16px;
                position:absolute;
                background:#2E3038;
                border-radius:20px;
                top:calc(-13px - 3em);
                left:-16px;

                @media(max-width:767px){
                    left:-23px;
                    top:-23px;
                }

                &.blue{
                    background-color:#249fd5;
                }
            }

            .number{
                display:inline-block;
                position:absolute;
                top: calc(-40px - 3em);
                left:-16px;
                width:16px;
                font-size:1.2em;
                font-family:'muli';

                @media(max-width:767px){
                    left:-3px;
                    top:-28px;
                }
            }
        } 

        
    }

    #temoignages{
        .temoignage {
            img{
                width:inherit !important;
                margin:auto;
            }
            .full .icon_star::before {
                color: #FF8800;
            }
            
            .icon_star:before {
                font-family: 'ElegantIcons';
                content: "\e033";
            }

            .content::before {
                content: '“';
                position: absolute;
                left: 30%;
                font-family: 'Libre baskerville';
                font-size: 7em;
                font-style: italic;
                color: #aaafbf;
                top:0;
            }

            .content::after {
                content: '“';
                position: absolute;
                right: 30%;
                font-family: 'Libre baskerville';
                font-size: 7em;
                font-style: italic;
                color: #aaafbf;
                transform: rotate(180deg);
                bottom: 0;
            }
        }

        .owl-dot.active{
            color:#249fd5;
            background-color:#249fd5;
        }

        .owl-dot{
            color:#cfcfcf;
            background-color:#cfcfcf;
            height:10px;
            width:10px;
            border-radius:10px;
            margin-right:5px;
        }
    }
}