#form-page{
    #formation-detail{
        #resume, #session{
            background:#F2F2F2;
            padding:30px 15px 30px 15px;

            .content{
                background:white;
                margin-left:0px;
                margin-right:0px;
            }

            .line{
                border-bottom:1px dashed #F2F2F2;
                padding:10px 10px;
            }
        }

        #avantages{ 
            padding:10px;
            background:#F2F2F2;
            img{
                width:100%;
                height:auto;
            }

            ul{
                padding-left:10px;
            }
        }

        #calendrier{
            table {
                table-layout:fixed;
                width:100%;
            }

            .hidden-data{
                visibility:hidden;
                max-height:0px;
                overflow:hidden;
            }
        }

        #title{
            background:#f7f7f7;
        }

        h3{
            background:#303030;
            color:#249fd5;
            padding-left:10px;
            padding-top:5px;
            padding-bottom:5px;
        }

        #programme,#objectifs,#infos{
            .content h3{
                background:none !important;
                font-size:1.2rem;
            }
        }
    }
}