#home-page{
    #banner{
        .banner-text{
            top:0px;
            padding:100px;
            }
            
        .banner-bullet{
            bottom:2.5em;
            font-size:1.3rem;
        }
    }

    #expertise{
        #expertise-right{
            font-size:1rem;
        }

        .expertise-categ::after {
            content: "›";
            display: inline-block;
            position: absolute;
            left: calc(100% - 60px);
            background: #1DB0EE;
            height: 30px;
            width: 30px;
            border-radius: 30px;
            text-align: center;
            line-height: 10px;
            color: #fff;
            font-size: 1.8em;
            vertical-align: middle;
            padding-top: 8px;
            padding-bottom: 7px;
            padding-left: 6px;
            padding-right: 5px;
            font-weight:bold;
        }

        .underline{
            position:relative;
            top:-20px;
        }

        .plus{
            width:40px;
            height:40px;
            border-radius:30px;
            text-align:center;
            padding-top:7px;
            top:-8px;
        }
    }

    #clients{
        #clients-right{
            font-size:1rem;
        }

        #clients-right,#clients-left{
            padding-top:100px;
            padding-bottom:100px;
        }

        .clients-text{
            top:0px;
            padding:6.4em;
        }
            
        .clients-bullet{
            bottom:2.5em;
            font-size:1.3rem;
        }
    }
}