.btn{
    &.btn-orange{
        color: #fff;
        background-color: #FF6519;
        border-color: #FF6519;
    }

    &.btn-blue{
        color: #fff;
        background-color: #249fd5;
        border-color: #249fd5;
    }

    &.btn-yellow{
        color: #fff;
        background-color: #FDCD3D;
        border-color: #FDCD3D;
    }

    &.btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
}

.orange{
    color:#FF6519;
}

.blue{
    color:#249fd5;
}

.grey{
    color:#A4AABC;
}

.gray{
    color:#8c93aa;
}

.dark-grey{
    color:#303030;
}

.yellow{
    color:#FDCD3D;
}

.purple{
    color:#bb0072;
}

.bg-dark-grey{
    background:#303030;
}

.bg-grey{
    background:#DEDEDE;
}

.bg-light-grey{
    background:#F7F7F7;
}

.bg-yellow{
    background:#FDCD3D;
}

.border,.border-bottom{
    &.border-blue{
        border-color:#249fd5 !important;
    }
}