.btn.btn-orange{
    color: #fff;
    background-color: #FF6519;
    border-color: #FF6519;
}

.orange{
    color:#FF6519;
}

.btn.btn-blue{
    color: #fff;
    background-color: #54C3ED;
    border-color: #54C3ED;
}

.blue{
    color:#54C3ED;
}

.grey{
    color:#A4AABC;
}

.btn.btn-yellow{
    color: #fff;
    background-color: #FDCD3D;
    border-color: #FDCD3D;
}

.yellow{
    color:#FDCD3D;
}

.btn.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}