
// Variables
@import 'variables';
@import 'helpers';
@import 'fonts';




@import 'header/main';


@import 'pages/homepage';


@media (min-width:1270px){
    .container{
        max-width:1270px !important;
    }
}

body{
    background-color:white;
}

#menu{
    right:0px;
    top:0px;
    z-index:30;
    transition: width 2s, max-width 2s, left 2s;

    &.hidden{
        left:100%;
        max-width:0px;
        visibility:hidden;
        transition:left .5s ease, max-width .5s ease;
        transition: width 2s, max-width 2s, left 2s;
    }

    #menu-background{
        background:rgba(20,20,20,0.6);
    }

    #inner-menu{
        box-shadow: -10px -5px 30px 2px #353535;
        overflow-y:auto;
        #close-menu{
            font-size:1.1rem;
        }
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: relative;
        top:0%;
        border:none;
        border-radius:0px !important;

        a{
            &:hover{
                background:transparent;
            }
        }
    }

    .dropdown-toggle::after {
        float:right;
        margin-top:10px;
        z-index:20 !important;
        position:absolute;
        right:29px;
        top:29px;
    }

    .dropdown-toggle::before{
        content:' ';
        display:inline-block;
        height:70px;
        position:absolute;
        right:0px;
        width:70px;
        top:0px;
        background:#1CB0EE;
        z-index:0
    }

}
    
body{
    overflow-x:hidden;
}



// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap');

@import 'pages/conseil';
@import 'pages/formation';

@import 'footer/main';