header{
    #header-main{
        max-height:75px;
        min-height:75px;

        #logo{ 
            img{
                width:80%;

                @media(max-width:767px){
                    width:100%;
                }

                max-height:50px;
            }
        }
            
        #devis-btn{
            font-size:1rem;
            font-weight:600;
            font-family:'Muli bold';
            
            a:hover{
                text-decoration:none;
            }

            .devis-icon{
                font-size:1.05rem !important;
                line-height:24px !important;
                height:36px;
                width:36px;
                border-radius:20px;
                text-align:center;
                padding-right:1px;
            }
            
            span{
                height:30px;
                line-height:20px;
                padding-top:5px;
                display:inline-block;
                vertical-align:middle;
            }
        }

        #contact-btn{
            font-family:'Muli bold';

            a{
                padding-top:8px;
                padding-bottom:8px;
            }
        }

        #search{
            form{
                border-radius:40px !important;
                border:2px solid #dedede !important;

                input[name="search"]{
                    border-radius:40px;
                }
            }
        }
    }

    #menu{
        background: #DEDEDE;
        color:#2E3038;

        a{
            color:#2E3038;
            font-size:1.1rem;
            text-transform:uppercase;

            &:hover{
                /*background:#FDBE2D;*/
                color:#249fd5;
                text-decoration:none;
            }
        }

        #domaines-sub,#infos-pratiques-sub{
            top:135px;
            width:100%;
            border-radius:0px;
            border:none;
            z-index:1;
            background:#F7F7F7;
            margin-top:0px;

            @media (max-width:767px){
                position:relative;
                top:0px;
                left:-40px;
                width:calc(100% + 80px);
            }

            a{
                &:hover{
                    background:rgba(222,222,222,0);
                }
            }
        }
    }
}

#home-page{
    header{
        #domaines-sub{
            top:135px;
            width:100%;
            border-radius:0px;
            border:none;
            z-index:1;
            background:rgba(2552,255,255,0.7);
            margin-top:0px;

            a{
                &:hover{
                    background:rgba(255,255,255,0);
                }
            }
        }
    }
}

@media (max-width:767px){
    #mobile-main{
        bottom:0px;
        z-index:5;

        .navbar-toggler-icon{
            background:url('/img/header/menu_img.png');
            background-repeat:no-repeat;
            background-position:auto 50%;
        }
    }
}